#form-sidebar {
    margin-bottom: 30px;
    border:1px solid #dddddd;
    padding:10px;
}

p.lead {
    padding:10px;
}

p.bg-success {
    margin-top: 30px;
}

#bigteaser {
    border:1px solid #dddddd;
    padding:10px;
}

div#content {
    margin-top:20px;
    margin-bottom: 20px;
}

ul#navigation {
    margin-top:20px;
}

ul#navigation li {
    display:inline;
}

ul#navigation li a {
    width:200px;
}